<div class="home">
  <app-header></app-header>
  <div class="home-content">
    <div class="home-background">
      <div class="home-text">
        <h1 class="home-text__title">choose the day <br> for the meeting</h1>
        <p class="home-text__desc">
          We encourage you to book your <br>
          appointment online. <br>
          This will save you time.
        </p>
      </div>
    </div>

    <div class="home-calendar">
      <app-calendar></app-calendar>
    </div>

  </div>
</div>


